/* .btn{
    border: none;
    outline: none;
    width: 298.400px;
    height: 38.400px;
    border-radius: 18px;
    font-size: 15px;
    vertical-align: center;
    
} */
input{
    width: 282.4px;
    height: 20px;
}